@model AgileRap_Process_Software_ModelV2.Models.Work

@{
    ViewData["Title"] = "Edit";
    List<Work> ListWork = ViewBag.Model;
    List<SelectListItem> UserBag = ViewBag.UserBag;
    Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable<User> Luser = ViewBag.UserLogin;
}

<div class="row">
    <div class="offset-md-1 col-md-3">
        <h1>แก้ไขรายการงาน</h1>
    </div>
    <div class="col-md-8 text-end">
        @Luser.First().Name
        @Html.ActionLink("Logout", "Index", "Home", new { }, new { @class = "btn-outline-secondary" })
    </div>
</div>
<br />
<br />

<table class="table table-borlesses">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayName("Manage")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ListWork)
        {
            if (item.ID != ViewBag.WorkID)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDateText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDateText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => UserBag.Where(b => b.Value == item.CreateBy.ToString()).First().Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProviderList)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.StatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remark)
                    </td>
                    <td>
                        @* @Html.ActionLink("History", "History", "Works", new { id = item.ID }, "") | *@
                        @* @Html.ActionLink("Edit", "Edit", "Works", new { id = item.ID }, "") *@
                    </td>
                </tr>
            }
            else
            {
                @using (Html.BeginForm("Edit", "Works", FormMethod.Post, new { id = "manageform", name = "manageform" }))
                {
                    @Html.EditorFor(m => m, "Work", "Work")
                }
            }
        }
    </tbody>
</table>



<script>
    document.addEventListener("DOMContentLoaded",
        () => {
            $('#select-tops-options').multiselect({
                buttonClass: 'form-select',
                nonSelectedText: 'Select Provider',
                buttonContainer: '<div class="btn-success" id="select-tops-options-container"></div>',
                selectedClass: 'active multiselect-selected',
                numberDisplayed: 5,
                buttonWidth: '10em',
                includeSelectAllOption: true,
                onSelectAll: function (options) {
                    document.getElementById("Work_IsSelectAll").value = true;
                },
                onDeselectAll: function (options) {
                    document.getElementById("Work_IsSelectAll").value = false;
                },
                //includeResetOption: true,
                //selectAllName: 'select-all-name',
                onload: function () {
                    var st = document.getElementById("Work_providerIDs").value.split(',');
                    console.log(st);
                },

                onChange: function (option, checked) {
                    /*
                     * Not there yet
                     */
                    document.getElementById("Work_IsSelectAll").value = false;

                    if (checked) {
                        document.querySelectorAll(`[value="${$(option[0])[0].value}"]`)[1].ariaChecked = "true";
                        document.querySelectorAll(`[value="${$(option[0])[0].value}"]`)[0].ariaChecked = "true";
                    } else {
                        document.querySelectorAll(`[value="${$(option[0])[0].value}"]`)[1].ariaChecked = "false";
                        document.querySelectorAll(`[value="${$(option[0])[0].value}"]`)[0].ariaChecked = "false";
                    }

                    //$("#select-tops-options").multiselect('deselect', '1');
                    var toppings = $('#select-tops-options option:selected');

                    var selected = [];
                    $(toppings).each(function (index, item) {
                        selected.push([$(this).val()]);
                    });

                    document.getElementById("Work_ProviderIDs").value = selected.join(',');
                },
                templates: {
                    button:
                        '<button type="button" class="multiselect dropdown-toggle" ' +
                        'data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                    resetButton: '<div class="multiselect-reset text-center p-2"><button type="button" class="btn btn-sm btn-danger"></button></div>'
                }
            });
        }
    );
</script>
