@model IEnumerable<AgileRap_Process_Software_ModelV2.Models.Work>

@{
    ViewData["Title"] = "Index";
    int count = Model.Count() + 1;
}

<h1>History Task Log</h1>
<br />
<br />

<table class="table table-borlesses">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                @Html.DisplayName("Manage")
            </th>
            <th class="text-end">
                @Html.ActionLink("Cancel", "Index", "Works", "", new { @class = "btn btn-danger" })
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Works", new { id = item.ID }, new { @class = "btn btn-outline-secondary" }) |
                    @Html.ActionLink("History", "History", "Works", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })
                </td>
                @if (item == Model.First())
                {
                    <td rowspan="@count">
                        <div class="text-end">
                        </div>
                        <table class="table table-active">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("No");
                                    </th>
                                    <th>
                                        @Html.DisplayName("Description");
                                    </th>
                                </tr>
                            </thead>
                            @foreach (WorkLog itemWorkLog in Model.Where(b => b.ID == ViewBag.IDBag).First().WorkLog)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => itemWorkLog.No)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => itemWorkLog.Description)
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                }

            </tr>
        }
        <tr>
            <td class="text-center">
                @Html.ActionLink("Create Task", "Create", "Works", new { }, new { @class = "btn btn-outline-primary" })
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </tbody>
</table>
