@model AgileRap_Process_Software_ModelV2.Models.User

@{
    ViewData["Title"] = "Home Page";
}
<h1>Register</h1>
<br />
<br />

@using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m=>m.ID)
    @Html.HiddenFor(m=>m.LineID)
    @Html.HiddenFor(m=>m.CreateDate)
    @Html.HiddenFor(m=>m.UpdateDate)
    @Html.HiddenFor(m=>m.CreateBy)
    @Html.HiddenFor(m=>m.UpdateBy)
    @Html.HiddenFor(m=>m.IsDelete)
    @Html.HiddenFor(m=>m.Role)

    <div class="row">
        <div class="offset-md-2 col-md-1 text-end">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="col-md-2">
            @Html.EditorFor(m => m.Email, new { HtmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row">
        <div class="offset-md-2 col-md-1 text-end">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="col-md-2">
            @Html.EditorFor(m => m.Password, new { HtmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row">
        <div class="offset-md-2 col-md-1 text-end">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="col-md-2">
            @Html.EditorFor(m => m.ConfirmPassword, new { HtmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row">
        <div class="offset-md-2 col-md-1 text-end">
            @Html.DisplayNameFor(m => m.Name)
        </div>
        <div class="col-md-2">
            @Html.EditorFor(m => m.Name, new { HtmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 text-end">
        </div>
        <div class="col-md-1 text-end">
            <input value="Register" type="submit" class="btn-outline-secondary text-black" />
        </div>
    </div>
}
