@model AgileRap_Process_Software_ModelV2.Models.Provider

@Html.HiddenFor(m=>m.ID)
@Html.HiddenFor(m=>m.WorkID)
@Html.HiddenFor(m=>m.UserID)
@Html.HiddenFor(m=>m.CreateBy)
@Html.HiddenFor(m=>m.CreateDate)
@Html.HiddenFor(m=>m.UpdateBy)
@Html.HiddenFor(m=>m.UpdateDate)
@Html.HiddenFor(m=>m.IsDelete)
@Html.HiddenFor(m=>m.User)
@Html.HiddenFor(m=>m.Work)

@* <p>123</p> *@
